<form [formGroup]="myForm">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Restaurant</th>
      <th scope="col">Address</th>
      <th scope="col">Short Description</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pizza</td>
      <td>1000N 4th Street</td>
      <td>Pizza is the main dish</td>
      <td>Good</td>
    </tr>
    <tr>
        <th scope="row">2</th>
      <td>Pizza</td>
      <td>1000N 4th Street</td>
      <td>Pizza is the main dish</td>
      <td>Good</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pizza</td>
      <td>1000N 4th Street</td>
      <td>Pizza is the main dish</td>
      <td>Good</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary">Add</button>
<div class="container">
  <router-outlet></router-outlet>
</div>
</form>