<form [formGroup]="myForm">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Restaurant Name</label>
      <input type="text" class="form-control"  formControlName="name">
    </div>

  </div>
  <div class="form-row" formGroupName="address" *ngIf="myForm.controls['address']">
    <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
    <div class="col-md-6 mb-3">
      <label >Street</label>
      <input type="text" class="form-control"  formControlName="street">
    </div>
    <div class="col-md-6 mb-3">
      <label>City</label>
      <input type="text" class="form-control" formControlName="city">
    </div>
    <div class="col-md-3 mb-3">
      <label>State</label>
      <input type="text" class="form-control"  formControlName="state">
    </div>
    <div class="col-md-3 mb-3">
      <label>Zip</label>
      <input type="text" class="form-control" formControlName="zip">
    </div>
  </div>

  <div class="form-group">
    <label>Main dishes serve (enter separately by comma)</label>
    <textarea class="form-control" rows="5" formControlName="dishes"></textarea>
  </div>
  <div class="form-group">
  <button type="button" class="btn btn-primary" [disabled]="!myForm.valid" (click)=save()>Save</button>
  <button type="button" class="btn btn-primary" [disabled]="!myForm.valid">Delete</button>
  </div>
</form>