<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Restaurant</th>
      <th scope="col">Address</th>
      <th scope="col">Short Description</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody *ngFor = "let item of restaurantList; let num = index">
    <tr>
      <th scope="row">{{num}}</th>
      <td><a [routerLink]="[item._id]">{{item.name}}</a></td>
      <td>{{item.address.city}}</td>
      <td>{{item.dishes}}</td>
      <td>Good</td>
    </tr>
   </tbody>
</table>
<button class="btn btn-primary" (click)="navigateAdd()">Add</button>
<div class="container">
  <router-outlet></router-outlet>
</div>
