<!--
File: review.component.html
File Created: 02/05/2018
Author: annguyen
Description:
-->

<div *ngFor="let item of restaurant?.reviews">
    <div>{{item.username}} - {{item.rating}}</div>
    <div>{{item.comment}}</div>
</div>
<button class="btn btn-primary" (click)="addReview()" [disabled]="isEditing">Add Review</button>

<form *ngIf="isEditing" [formGroup]="reviewForm" class="form-group">
    
    <textarea class="form-control ctrl-space" rows="5" formControlName="comment"></textarea>
    <input class="form-control ctrl-space" formControlName="rating" />    
    <button class="btn btn-primary ctrl-space" (click)="saveReview()">OK</button>
    
   
</form>