<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <span class="navbar-text">
        Welcome
    </span>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['home']">Home</a>
        <a class="nav-item nav-link active" [routerLink]="['user/0']">User</a>
        <a class="nav-item nav-link active" [routerLink]="['restaurant']">Restaurant</a>
        <a class="nav-item nav-link active" [routerLink]="['restaurant/search']">Search</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>