<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" [routerLink]="['home']">Home</a>
        <a class="nav-item nav-link active" [routerLink]="['register']" *ngIf="!authService.loggedIn()">Register</a>
        <a class="nav-item nav-link active" [routerLink]="['restaurant']" *appHasRole="'admin'">Restaurant</a>
        <!--<a class="nav-item nav-link active" [routerLink]="['restaurant/search']" *ngIf="authService.loggedIn()">Search</a>-->
    </div>
    <div class="navbar-nav" *ngIf="authService.loggedIn()">
        <span class="navbar-text">Welcome {{authService.currentUser?.username}}! </span>
        <a class="nav-item nav-link" [routerLink]="['logout']">Logout</a>
    </div>
    
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>