fieldset{
    width: 400px;
    margin-left: 400px;
}

.groupControl{
    margin-bottom: 10px;
}

.groupControl label{  
    display:inline-block;  
    width: 110px;
}

button{
    float: right;
}


.column1, .column2, .column3, .column4{
    display: inline-block;
    width: 100px;    
}

