fieldset{
    width: 500px;     
    margin: 30px auto;  

}



.groupControl label{  
    display:inline-block;  
    width: 150px;
}

.groupControl input{
    width: 345px;
}

button{
    float: right;
}

.res-list{
    margin-top: 30px;
}

input.form-control{
    background-color:transparent;
    border: 0;
    font-size: 1em;
}