
<form>
  <fieldset>
    <legend>Search</legend>
    <div class="groupControl">
      <label>Dish</label>
      <input type="text"/>
    </div>
    <div class="groupControl">
        <label>Current location</label>
        <input value ="1000 N 4th Street"/>
    </div>
      
        
    <button type="submit">Search</button>
  </fieldset>

  <div>
    <div class="row">
      <div class="column1">res.name</div>
      <div class="column2">res.address</div>
      <div class="column3">res.dishes</div>
      <div class="column4">res.distance</div>
    </div>
  </div>
</form>
