
<form #f="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Search</legend>
    <div class="groupControl">
      <label>Dish</label>
      <input type="text"/>
    </div>
    <div class="groupControl">
        <label>Current location</label>
        <input value ="1000 N 4th Street"/>
    </div>
      
        
    <button type="submit">Search</button>
  </fieldset>

  <div>
    <div class="row" *ngFor="let res of restaurants">
      <div class="column1"><input [(ngModel)]="res.name" [ngModelOptions]="{standalone: true}"/></div>
      <div class="column2"><input [(ngModel)]="res.address" [ngModelOptions]="{standalone: true}"/></div>
      <div class="column3"><input [(ngModel)]="res.dishes" [ngModelOptions]="{standalone: true}"/></div>      
    </div>
  </div>
</form>
