
<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-6">        
        <agm-map [latitude]="currentCord?.latitude" [longitude]="currentCord?.longitude">
            <agm-marker [latitude]="currentCord?.latitude" [longitude]="currentCord?.longitude">
                <agm-info-window>
                  <h3><strong>Howdy!</strong></h3>
                  <p>You are here!</p>
                </agm-info-window>
              </agm-marker>
        </agm-map>
    </div>
    <div class="col-sm-6">
        <div class="groupControl">
            <label>Dishes</label>
            <input type="text" class="form-control" name="searchDishes" [(ngModel)]="searchDishes"/>            
        </div>
        <div class="groupControl">
            <label>Address</label>
            <input type="text" class="form-control" name="searchAddress" [(ngModel)]="searchAddress"/>            
        </div>
        <button type="submit" class="btn btn-primary">Search</button>        
    </div>
  </div>
      
  <div class="res-list">
      <div class="row" style="background-color:lavenderblush; text-align:center">
          <div class="col-sm-4">Name</div>
          <div class="col-sm-4">Address</div>
          <div class="col-sm-4">Dishes</div>      
        </div>
    <div class="row" *ngFor="let res of restaurants" style="background-color:lavender;">
      <div class="col-sm-4" ><a [routerLink]="['/restaurant/view/'+ res._id]"  >{{res.name}}</a></div>
      <div class="col-sm-4">{{res.address.street}}, {{res.address.city}}, {{res.address.state}} {{res.address.zip}}</div>
      <div class="col-sm-4">{{res.dishes}}</div>      
    </div>
  </div>
</form>
