<form>
  <div class="row">
      <div >
          <img src="http://localhost:3000/restaurant/search/view/images" alt="map"/>          
      </div>
      <div id="rightSection">
          <div class="row">        
            <div class="container">
                <img  src="http://localhost:3000/restaurant/search/view/images" alt="map"/>
            </div>  
            <div class="container">
                <img  src="http://localhost:3000/restaurant/search/view/images" alt="map"/>
            </div>
            <div class="container">
                <img  src="http://localhost:3000/restaurant/search/view/images" alt="map"/>
            </div>         
                    
          </div>
          <p>This is the description of the restaurant</p>

      </div>
      
  </div>  
</form>
