.container{
    width: 150px;
    height: 150px;
}

.container img {
    width: 100%;
    height: auto;
}

div.row, div#rightSection{
    margin-top: 30px;
}

agm-map {
    height: 300px;
}

div#appreview{
    margin-top: 30px !important;
}

